.order-list {
  direction: rtl;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.order-list input {
  padding: 10px 40px;
  font-size: large;
  display: flex;
  justify-content: center;
}

.order-items img {
  width: 10%;
}
.product-orderd {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search {
  direction: rtl;
  text-align: center;
}

.search input {
  text-align: center;
}
