.product-item_image img {
  width: 40rem;
}

/* .product-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60%;
  gap: 20px 0px;
  grid-template-areas: ". .";
} */
.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
