.product-item_image img {
  width: 400px;
}

.product-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
  gap: 70px 0px;
  grid-template-areas: ". .";
  margin-top: 5%;
  align-items: end;
}

.product-item {
  text-align: center;
}
