.product-item_image img {
  width: 400px;
}

.product-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 50%; */
  gap: 70px 0px;
  grid-template-areas: ". .";
  margin-top: 5%;
  align-items: end;
}

.product-item {
  text-align: center;
  font-family: "Amatic SC", "cursive";
}

.product-item a {
  text-decoration: none;
  color: black;
}

.product-item:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .product-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-item {
    text-align: center;
    font-family: "Amatic SC", "cursive";
  }
  .product-item img {
    width: 95%;
  }
}
