.empy-cart {
  text-align: center;
  padding: 100px;
}

.cart-title {
  text-align: center;
}

.cart-window {
  margin-left: 20%;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cart-item img {
  width: 10%;
}

.fade-line {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(#000),
    to(#fff)
  );
}

.cart-summery {
  display: grid;
  width: 15%;
  margin-left: 3%;
  margin-top: 3%;
  text-align: center;
  border: 1px solid;
  float: left;
  height: 300px;
  align-items: end;
  align-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}

.cart-summery button {
  width: 100%;
}

.proceed {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.proceed:hover {
  background: #00bd68;
}
