.footer {
  background-color: rgba(196, 195, 195, 0.933);
  margin-top: 15%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-left: 33%;
  padding-right: 33%;
  padding-bottom: 3%;
  padding-top: 5%;
  margin-top: 100px;
}

.contact,
.about {
  font-size: 30px;
}

.contact a,
.about a {
  text-decoration: none;
  color: black;
}

.facebook,
.instagram {
  padding-top: 40%;
  font-size: xx-large;
}

@media screen and (max-width: 800px) {
  .footer {
    background-color: rgba(196, 195, 195, 0.933);
    margin-top: 15%;
  }
  .footer-container {
    padding-left: 20%;
    padding-right: 24%;
    padding-top: 2%;
  }
  .contact,
  .about {
    font-size: 20px;
  }

  .contact a,
  .about a {
    text-decoration: none;
    color: black;
  }

  .facebook,
  .instagram {
    padding-top: 40%;
    font-size: large;
  }
}
