.product-page-item {
  display: none;
}

.product-page {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding-right: 15%;
  padding-top: 1%;
}

.product-page a {
  text-decoration: none;
  color: black;
}

.product-info img {
  height: auto;
  width: auto;
}

.second-image img {
  width: 200px;
}

.size {
  display: block;
  padding-top: 5%;
}
.size label input {
  display: flex;
}

.mida {
  font-size: xx-large;
  text-align: end;
  margin-bottom: 10px;
}

.radio-btn {
  text-align: end;
  margin-top: 10px;
  font-size: x-large;
}
